{% extends 'db/base.html' %}

{% block content %}
    <header class="header bg-white b-b clearfix">
        <div class="row m-t-sm">
            <div class="col-sm-6 m-b-xs">
                <a href="#subNav" data-toggle="class:hide" class="btn btn-sm btn-info active"><i class="fa fa-caret-right text fa fa-large"></i><i class="fa fa-caret-left text-active fa fa-large"></i></a>
                <a href="/db/{{ module_name }}/create" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> Добавить</a>
            </div>
            <div class="col-sm-6 m-b-xs">
                <div class="input-group">
                    <input type="text" class="input-sm form-control" placeholder="Здесь будет поиск">
                    <span class="input-group-btn">
                        <button class="btn btn-sm btn-white" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </header>
    <section class="scrollable wrapper w-f">
        <section class="panel">
            <div class="table-responsive">
                <table class="table table-striped m-b-none">
                    <thead>
                        <tr>
                            <th width="20"><input type="checkbox"></th>
                            <th width="20"></th>
                            <th>name</th>
                            
                            {% for name, _ in table_cols %}
                                <th>{{ name }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in items %}
                            <tr>
                                <td><input type="checkbox"></td>
                                <td><a href="#modal_{{ i._id }}" data-toggle="modal"><i class="fa fa-search-plus"></i></a></td>
                                <td><a href='/db/{{ module_name }}/full/{{ i._id }}'>{{ i.name }}</a></td>
                                
                                {% for _, value in table_cols %}
                                    {% if i[ value ] %}
                                        <td>
                                            {{ i[ value ]|safe }}
                                        </td>
                                    {% else %}
                                        <td>-</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </section>
    <footer class="footer bg-white b-t">
        <div class="row m-t-sm text-center-xs">
            <div class="col-sm-4">
                <select class="input-sm form-control input-s inline">
                    <option value="0">Здесь будет сортировка</option>
                </select>
<!--                 <button class="btn btn-sm btn-white">Apply</button>                   -->
            </div>
            <div class="col-sm-4 text-center">
                <small class="text-muted inline m-t-sm m-b-sm">Показано {{ count }} из {{ count }} записей</small>
            </div>
            <div class="col-sm-4 text-right text-center-xs">                
                <!-- ПАГИНАЦИЯ
                <ul class="pagination pagination-sm m-t-none m-b-none">
                    <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                </ul>-->
            </div>
        </div>
    </footer>
{% endblock %}

{% block dialogs %}

    {% for i in items %}
        <div class="modal fade" id="modal_{{ i._id }}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Представление "middle"</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Закрыть</button>
                        <a href='/db/{{ module_name }}/full/{{ i._id }}' type="button" class="btn btn-info">Детальная информация</a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
            
        
        <script>
            $('#modal_{{ i._id }} .modal-body').load('/db/{{ module_name }}/middle/{{ i._id }}');
        </script>
    {% endfor %}

    
{% endblock %}