{% extends 'base.html' %}

{% block content %}
    <section class="scrollable wrapper w-f">
        <section class="panel">
            <div class="table-responsive">
                <table class="table table-striped m-b-none">
                    <thead>
                        <tr>
                            <th width="20"><input type="checkbox"></th>
                            <th width="20"></th>
                            <th>Наименование</th>
                            <th>Наименование</th>
                            <th>Наименование</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in items %}
                            <tr>
                                <td><input type="checkbox"></td>
                                <td><a href="/details/{{ i._id }}" ><i class="fa fa-search-plus"></i></a></td>                                
                                <td>{{ i['naimenovanie'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </section>
    
    <footer class="footer bg-white b-t">
        <div class="row m-t-sm text-center-xs">
            <div class="col-sm-4">
                Здесь будет поиск
            </div>
            <div class="col-sm-4 text-center">
                <small class="text-muted inline m-t-sm m-b-sm">Показано {{ count }} из {{ count_all }} записей</small>
            </div>
            <div class="col-sm-4 text-right text-center-xs">                
                Здесь будет пагинация
            </div>
        </div>
    </footer>
{% endblock %}

{% block footer %}
    
{% endblock %}