{% extends 'base.html' %}

{% from 'macros.html' import render_pagination, dialog %}

{% block content %}
    <section class="scrollable wrapper w-f">
       
        <section class="panel">
            <div class="table-responsive">
                <table class="table table-striped m-b-none">
                    <thead>
                        <tr>
                            <th width="20"></th>
                            <th>Наименование</th>
                            <th>Регион{%- if filters['region'] %}&nbsp;:&nbsp;<u>{{ filters['region'] }}</u>{% endif %}</th>
                            <th>Юридический Адрес</th>
                            <th>Телефон</th>
                            <th>Отрасль{%- if filters['otrasl'] %}&nbsp;:&nbsp;<u>{{ filters['otrasl'] }}</u>{% endif %}</th>
                            <th>ОKВЭД{%- if filters['okved'] %}&nbsp;:&nbsp;<u>{{ filters['okved'] }}</u>{% endif %}</th>
                            <th width="20"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in items %}
                            <tr>
                                <td><a href="/details/{{ i._id }}" ><i class="fa fa-search-plus"></i></a></td>
                                <td>{{ i['kratkoe-naimenovanie'] }}</td>
                                <td>{{ i['region'] }}</td>
                                <td>{{ i['yuridicheskij-adres'] }}</td>
                                <td>{{ i['telefon'] }}</td>
                                <td>{{ i['otrasl'] }}</td>
                                <td>{{ i['okved'] }}</td>
                                <td><a href="/details/{{ i._id }}" ><i class="fa fa-search-plus"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </section>
    
    <footer class="footer bg-primary lter b-t">
        <div class="row m-t-sm text-center-xs">
            <div class="col-sm-3">
                <a data-toggle="modal" href="#filter_btn" class="btn btn-sm"><i class='fa fa-filter'></i> Фильтровать</a>
                <a data-toggle="modal" href="#export_btn" class="btn btn-sm"><i class='fa fa-download'></i> Экспортировать</a>
            </div>
            <div class="col-sm-6">
                <ul class="pagination pagination-sm m-t-none m-b-none"  style='width: 100%;'>
                    {{ render_pagination(pagination, uri) }}
                </ul>
            </div>
            <div class="col-sm-3 text-right">
                {{ count }} из {{ count_all }} записей<br />
                Время обработки запроса: {{ req_time|round(3, 'floor') }} сек.
            </div>
            
        </div>
    </footer>
{% endblock %}

{% block dialogs %}
    {% call dialog('Фильтровать', 'filter_btn') %}
        <form method='GET'>
            <div class="modal-body">
                <div class="form-group">
                    <label>Отрасль</label>
                    <input type='text' class="form-control" name='otrasl' value='{{ filters['otrasl'] }}' placeholder='все отрасли' />
                </div>
                <div class="form-group">
                    <label>ОКВЭД</label>
                    <input type='text' class="form-control" name='okved' value='{{ filters['okved'] }}' placeholder='все коды ОКВЭД' />
                </div>
                <div class="form-group">
                    <label>Регион</label>
                    <input type='text' class="form-control" name='region' value='{{ filters['region'] }}' placeholder='все регионы' />
                </div>
                <p>Поиск идёт по частичному совпадению, т.е. по запросу "Карачаево" будет найдена "Карачаево-Черкесская республика".</p>
                <p>Для регионов поиск будет идти так же по подкатегориям, т.е. по запросу "Сибирский федеральный округ" будет найдена и Тыва, и Бурятия и всё остальное.</p>
            </div>
            <div class="modal-footer">
                <button type='submit' class="btn btn-sm btn-primary"><i class='fa fa-filter'></i> Фильтровать</a>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"><i class='fa fa-times'></i> Закрыть</button>
            </div>
        </form>
    {% endcall %}
    
    {% call dialog('Экспортировать', 'export_btn') %}
        <form method='POST' action='/export'>
            <div class="modal-body">
                <p>Всего будет экспортировано <b>{{ count_all }}</b> записей порциями не более 1000 записей в каждом файле.</p>
                <div class="form-group">
                    <label>Отрасль</label>
                    <input type='text' class="form-control" name='otrasl' value='{{ filters['otrasl'] }}' placeholder='все отрасли' />
                </div>
                <div class="form-group">
                    <label>ОКВЭД</label>
                    <input type='text' class="form-control" name='okved' value='{{ filters['okved'] }}' placeholder='все коды ОКВЭД' />
                </div>
                <div class="form-group">
                    <label>Регион</label>
                    <input type='text' class="form-control" name='region' value='{{ filters['region'] }}' placeholder='все регионы' />
                </div>
                <div class="form-group">
                    <label>На какой email отправить базу?</label>
                    <input type='text' class="form-control" name='email' placeholder='введите email'/>
                </div>
                <p>Формирование базы происходит не слишком быстро, поэтому результирующий файл придёт на указанный email.</p>
            </div>
            <div class="modal-footer">
                <button type='submit' class="btn btn-sm btn-primary"><i class='fa fa-download'></i> Загрузить</a>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"><i class='fa fa-times'></i> Закрыть</button>
            </div>
            {{ xsrf_form_html()|safe }}
        </form>
    {% endcall %}
{% endblock %}