{% extends 'base.html' %}

{% from 'macros.html' import render_pagination, dialog %}

{% block content %}
    <section class="scrollable wrapper w-f">
        <section class="panel">
            <div class="table-responsive">
                <table class="table table-striped m-b-none">
                    <thead>
                        <tr>
                            <th width="20"></th>
                            <th>Наименование</th>
                            <th>Регоион</th>
                            <th>Юридический Адрес</th>
                            <th>Телефон</th>
                            <th>Отрасль</th>
                            <th>ОKВЭД</th>
                            <th width="20"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in items %}
                            <tr>
                                <td><a href="/details/{{ i._id }}" ><i class="fa fa-search-plus"></i></a></td>
                                <td>{{ i['kratkoe-naimenovanie'] }}</td>
                                <td>{{ i['region'] }}</td>
                                <td>{{ i['yuridicheskij-adres'] }}</td>
                                <td>{{ i['telefon'] }}</td>
                                <td>{{ i['otrasl'] }}</td>
                                <td>{{ i['okved'] }}</td>
                                <td><a href="/details/{{ i._id }}" ><i class="fa fa-search-plus"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </section>
    
    <footer class="footer bg-primary lter b-t">
        <div class="row m-t-sm text-center-xs">
            <div class="col-sm-3">
                <a data-toggle="modal" href="#filter_btn" class="btn btn-sm"><i class='fa fa-filter'></i> Фильтровать</a>
            </div>
            <div class="col-sm-6">
                <ul class="pagination pagination-sm m-t-none m-b-none"  style='width: 100%;'>
                    {{ render_pagination(pagination, uri) }}
                </ul>
            </div>
            <div class="col-sm-3 text-right">
                {{ count }} из {{ count_all }} записей<br />
                Время обработки запроса: {{ req_time|round(3, 'floor') }} сек.
            </div>
            
        </div>
    </footer>
{% endblock %}

{% block dialogs %}
    {% call dialog('Фильтровать', 'filter_btn') %}
        <form method='GET'>
            <div class="modal-body">
                <div class="form-group">
                    <label>Отрасль</label>
                    <input type='text' class="form-control" name='otrasl' value='' placeholder='все отрасли' />
                </div>
                <div class="form-group">
                    <label>ОКВЭД</label>
                    <input type='text' class="form-control" name='okved' value='' placeholder='все коды ОКВЭД' />
                </div>
        <!--             {{ xsrf_form_html()|safe }} -->
                     
            </div>
            <div class="modal-footer">
                <button type='submit' class="btn btn-sm btn-primary"><i class='fa fa-filter'></i> Фильтровать</a>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"><i class='fa fa-times'></i> Закрыть</button>
            </div>
        </form>
    {% endcall %}
{% endblock %}