<section class="vbox">
    <header class="nav-bar">
        <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav">
            <i class="fa fa-bars"></i>
        </a>
        <a href="#" class="dker nav-brand" data-toggle="fullscreen">
            BB
        </a>
        <a class="btn btn-link visible-xs" data-toggle="class:show" data-target=".nav-user">
            <i class="fa fa-comment-o"></i>
        </a>
    </header>
    <section>
        {% include 'main_menu.html' %}
    </section>
</section>