<nav class="nav-primary hidden-xs">
    <ul class="nav">

        <li>
            <a href="/">
            <i class="fa fa-home"></i>
            <span>Главная</span>
            </a>
        </li>   
<!--        
        <li class="dropdown-submenu">
            <a href="/db">
            <i class="fa fa-code"></i>
            <span>БД</span>
            </a>
        </li>
        -->
        <li>
            <a href="/bills">
            <i class="fa fa-list-alt"></i>
            <span>Счета</span>
            </a>
        </li>  
        
                
        <li>
            <a href="/contractors">
            <i class="fa fa-group"></i>
            <span>Контрагенты</span>
            </a>
        </li>   
                
        <li>
            <a href="/tasks">
            <i class="fa fa-calendar"></i>
            <span>Задания</span>
            </a>
        </li>  
        
        <li>
            <a href="/templates">
            <i class="fa fa-files-o"></i>
            <span>Шаблоны</span>
            </a>
        </li>  
        
        <li>
            <a href="/user/profile">
            <i class="fa fa-gears"></i>
            <span>Профиль и настройки</span>
            </a>
        </li>  

    </ul>
</nav>